<% wrap_layout :layout do %>
  <article>
    <header class="blog-header">
      <div class="row">
        <div class="col-md-2">
          <p class="blog-pubdate">
            <%= time_tag current_article.date %>
          </p>
        </div>
        <div class="col-md-10">
          <h2 class="blog-title"><%= current_article.title %></h2>
          <ul class="labels">
            <% current_article.tags.each do |tag| %>
            <li class="label label-tag"><span class="glyphicon glyphicon-tag"></span> <%= tag %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="col-md-offset-2 col-md-10">
        <%= yield %>
      </div>
    </div>
  </article>

  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      <nav>
        <ul class="pager">
          <% if (prev_article = current_article.previous_article) %>
          <li class="previous">
            <a href="<%= prev_article.url %>">
              <span class="fa fa-angle-double-left" aria-hidden="true"></span> <%= prev_article.title %>
            </a>
          </li>
          <% end %>
          <% if (next_article = current_article.next_article) %>
          <li class="next">
            <a href="<%= next_article.url %>">
              <%= next_article.title %> <span class="fa fa-angle-double-right" aria-hidden="true"></span>
            </a>
          </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
<% end %>
