<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= make_title %></title>

    <%= stylesheet_link_tag 'bootstrap' %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <%= javascript_include_tag 'bootstrap' %>
  </body>
</html>
