<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= make_title %></title>

    <%= stylesheet_link_tag 'application' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <%= partial 'navbar' %>

      <div class="content">
        <%= yield %>
      </div>

      <footer class="footer">
        <small class="copyright">&copy; notozeki 2015</small>
      </footer>
    </div>

    <%= javascript_include_tag 'application' %>
    <% page_javascripts.each do |js| %>
    <%= javascript_include_tag js %>
    <% end %>
  </body>
</html>
