<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= make_title %></title>

    <%= stylesheet_link_tag 'application' %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <%= partial 'navbar' %>

      <%= yield %>

      <footer class="footer">
        <small class="copyright">&copy; notozeki 2015</small>
      </footer>
    </div>

    <%= javascript_include_tag 'bootstrap' %>
  </body>
</html>
