<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= make_title %></title>

    <%= stylesheet_link_tag 'application' %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <header class="page-header">
        <nav class="main-menu">
          <ul class="nav nav-pills pull-right">
            <%= nav_link 'Home', '/' %>
            <%= nav_link '同人活動', '/doujin/' %>
            <%= nav_link 'ブログ', '/blog/' %>
            <%= nav_link 'Twitter', 'https://twitter.com/notozeki' %>
            <%= nav_link 'pixiv', 'http://pixiv.me/notozeki' %>
          </ul>
        </nav>
        <h1 class="logo"><a href="/">notozeki works <small>(仮)</small></a></h1>
      </header>

      <%= yield %>

      <footer class="footer">
        <small class="copyright">&copy; notozeki 2015</small>
      </footer>
    </div>

    <%= javascript_include_tag 'bootstrap' %>
  </body>
</html>
