<h2>過去の更新</h2>
<p>※リンク先の内容が変更または無効になっている場合があります。</p>
<dl class="updates">
<% old_updates.each do |update| %>
  <dt><%= time_tag update.date %></dt>
  <dd><span class="label <%= update['class'] %>"><%= update.type %></span> <a href="<%= update.link %>"><%= update.content %></a></dd>
<% end %>
</dl>
