---
title: 同人活動
---
<p>
  主にオリジナルの漫画・イラストの制作をしています。<a href="http://www.comitia.co.jp">COMITIA</a>を中心に、同人イベントに不定期に参加しています。
</p>

<h2 id="upnext">参加予定のイベント</h2>
<% if upnext_events.empty? %>
<p>現在、参加予定のイベントはありません。</p>
<% else %>
<ul class="media-list">
  <% upnext_events.each do |event| %>
  <li class="media">
    <div class="media-left">
      <% if event.circlecut %>
      <a href="<%= event.circlecut %>" class="circle-cut-thumbnail">
        <img src="<%= event.circlecut %>" alt="<%= event.name %> サークルカット">
      </a>
      <% else %>
      <img src="<%= lorem.image('150x150', text: 'no image', background_color: 'eee') %>">
      <% end %>
    </div>

    <div class="media-body">
      <h3 class="media-heading">
        <%= event.name %>
        <% if event.url %>
        <small><a href="<%= event.url %>" class="external">公式サイト</a></small>
        <% end %>
      </h3>
      <p><%= time_tag_ja event.date, with_weekday: true %> <%= event.place %></p>
      <dl class="event-description">
        <% event.desc.each do |key, value| %>
        <dt><%= key %></dt>
        <dd><%= value %></dd>
        <% end %>
      </dl>
    </div>
  </li>
  <% end %>
</ul>
<% end %>

<h2>個人誌</h2>
<p>すべて一次創作（オリジナル）作品です。</p>
<ul class="media-list">
  <div class="row books-grid">
    <% data.books.each do |book| %>
    <div class="col-lg-6">
      <li class="media">
        <div class="media-left">
          <% if book.cover %>
          <a href="<%= book.cover %>" class="book-cover-thumbnail">
            <img src="<%= book.cover %>" alt="『<%= strip_tags book.title %>』表紙">
          </a>
          <% else %>
          <img src="<%= lorem.image('150x200', text: 'no image', background_color: 'eee') %>" alt="表紙画像はありません">
          <% end %>
        </div>

        <div class="media-body">
          <h3 class="media-heading"><%= book.title %></h3>
          <ul class="labels">
            <% book.labels.each do |label| %>
            <li class="label <%= label['class'] %>"><%= label.name %></li>
            <% end %>
          </ul>
          <dl class="book-description">
            <dt>発行日</dt>
            <dd>
              <%= time_tag_ja book.publish.date %>
              <% if book.publish.event %>
              (<%= book.publish.event %>)
              <% end %>
            </dd>
            <dt>在　庫</dt>
            <dd><%= book.stock %></dd>
          </dl>
          <%= comment_button "『#{strip_tags book.title}』感想" %>
        </div>
      </li>
    </div><!-- .col-lg-6 -->
  <% end %>
  </div><!-- .row -->
</ul>

<h2>その他 <small>合同誌・寄稿など</small></h2>
<dl class="contributions">
  <dt>2014年</dt>
  <dd>
    <span class="label label-illust">イラスト</span>
    <a href="https://twitter.com/nyogetsu">カガミツキ</a>さんの個人誌総集編『<a href="http://mmoon.soragoto.net/achade/mm1/">ミラームーンズ 1stMIX</a>』の別冊トリビュート本にゲスト参加
  </dd>
  <dd>
    <span class="label label-illust">イラスト</span>
    <a href="https://twitter.com/oke_rabbit">おけらびあすら</a>さんのポストカード集『<a href="http://pixiv.net/i/47189065">冬のインクがなくなる前に</a>』にゲスト参加
  </dd>

  <dt>2012年</dt>
  <dd>
    <span class="label label-illust">イラスト</span>
    サークル<a href="http://memorial.gymb.jp/">(旧)彳</a>の合同誌『<a href="http://memorial.gymb.jp/comic/hotate">ほたて缶</a>』にゲスト参加
  </dd>

  <dt>2011年</dt>
  <dd>
    <span class="label label-comic">漫画</span>
    サークル<a href="http://memorial.gymb.jp/">(旧)彳</a>の合同誌『<a href="http://memorial.gymb.jp/comic/yaneame">屋根から降る雨</a>』に参加
  </dd>
</dl>
